<connectionStrings>
    <add name="FSNEP" connectionString="Data Source=donbot;Initial Catalog=FSNEP2;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="RATBERT" connectionString="Data Source=donbot;Initial Catalog=RATBERT;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>