body {
	background:url(../Images/topbgfiller.gif) repeat-x #e2e1d6;
    font-family: Trebuchet MS, Helvetica, Arial, Tahoma;
	margin: 0 50px;
	padding: 0;
	min-width:1000px;
	}
	
#skipnav {
	display: none;
}

#main {
	margin:0 50px;
	padding-bottom: 75px;
}

#footer 
{
    background: url(../Images/bottomgradient.jpg) repeat-x;
	min-width: 980px;
	text-align: center;
	height: 170px;
	margin: 250px auto 0px;
	font-size: 12px;
	clear: both;
}

a:link {color:#1a4b5e;}
a:visited {color:#1a4b5e;}
a:hover {text-decoration:none;}

#sheetsButtons a
{
	display: block;
	border: solid 1px #b1b0a9;
	background-color:#edede6;
	width: 290px;
	height: 60px;
	padding:30px;
	text-decoration:none;
}

#sheetsButtons a:hover
{
	background-color:#d9e7ea;
}


ul#navigation {
   list-style:none;
   list-style-image: none;
   padding:0;
   margin:4px 0 0 30px;
   width:800px;
   margin:0 auto;
}

ul#navigation2 {
   list-style:none;
   list-style-image: none;
   padding:0;
   margin:4px 0 0 30px;
   width:1000px;
   margin:0 auto;
}

#navigation li, #navigation2 li, #navigation3 li {
   float:left;
   margin-bottom:0;
   margin-right:3px;
   padding:0;
   text-align:center;
   font-size:14px;
   font-weight:bold;
}

#navigation li a, #navigation2 li a, #navigation3 li a{
   display:block;
   text-decoration:none;
}

#navigation2 li a.GenericTab{
   height:25px; 
   width:178px;
   overflow:hidden;
   padding-top:20px;
   margin-left:10px;
}

#navigation2 li a.GenericTab2{
   height:25px; 
   width:148px;
   overflow:hidden;
   padding-top:15px;
   margin-left:10px;
   background:url(../Images/but_genericb2.gif) no-repeat;
   position:relative;
   top:1px;
}

#navigation2 li a.GenericTab3{
   height:25px; 
   width:148px;
   overflow:hidden;
   padding-top:15px;
   margin-left:10px;
   background:url(../Images/but_genericb1.gif) no-repeat;
}

#navigation2 li a.GenericTab3:hover, #navigation2 li a.GenericTab2:hover{
   color:#751111;
}

#navigation li a.ExpenseSheetLink{
   height:0px; 
   padding-top:45px;
   width:192px;
   overflow:hidden;
   background:url(../Images/but_expenselist.gif) no-repeat;
}

#navigation li a.SheetListLink{
   height:0px; 
   padding-top:45px;
   width:192px;
   overflow:hidden;
   background:url(../Images/but_sheetlist.gif) no-repeat;
}

#navigation li a.TimeSheetLink{
   height:0px; 
   padding-top:45px;
   width:192px;
   overflow:hidden;
   background:url(../Images/but_timesheet.gif) no-repeat;
}

#navigation li a.TimeSheetListLink{
   height:0px; 
   padding-top:45px;
   width:192px;
   overflow:hidden;
   background:url(../Images/but_timesheetlist.gif) no-repeat;
}

#navigation li a.ExpenseSheetLink:hover{
   height:0px; 
   padding-top:45px;
   width:192px;
   overflow:hidden;
   background:url(../Images/but_expenselist3.gif) no-repeat;
}

#navigation li a.SheetListLink:hover{
   height:0px; 
   padding-top:45px;
   width:192px;
   overflow:hidden;
   background:url(../Images/but_sheetlist3.gif) no-repeat;
}

#navigation li a.TimeSheetLink:hover{
   height:0px; 
   padding-top:45px;
   width:192px;
   overflow:hidden;
   background:url(../Images/but_timesheet3.gif) no-repeat;
}

#navigation li a.TimeSheetListLink:hover{
   height:0px; 
   padding-top:45px;
   width:192px;
   overflow:hidden;
   background:url(../Images/but_timesheetlist3.gif) no-repeat;
}

#navigation li a.ExpenseSheetLink2{
   height:0px; 
   padding-top:45px;
   width:192px;
   overflow:hidden;
   background:url(../Images/but_expenselist2.gif) no-repeat;
   position:relative;
   z-index:7;
   top:1px;
}

#navigation li a.SheetListLink2{
   height:0px; 
   padding-top:45px;
   width:192px;
   overflow:hidden;
   background:url(../Images/but_sheetlist2.gif) no-repeat;
   position:relative;
   z-index:7;
   top:1px;
}

#navigation li a.TimeSheetLink2{
   height:0px; 
   padding-top:45px;
   width:192px;
   overflow:hidden;
   background:url(../Images/but_timesheet2.gif) no-repeat;
   position:relative;
   z-index:7;
   top:1px;
}

#navigation li a.TimeSheetListLink2{
   height:0px; 
   padding-top:45px;
   width:192px;
   overflow:hidden;
   background:url(../Images/but_timesheetlist2.gif) no-repeat;
   position:relative;
   z-index:7;
   top:1px;
}

ul#navigation3 {
   list-style:none;
   list-style-image: none;
   padding:0;
   width:300px;
   margin:0 0 0 50px;
}

/* IE7 Only */
*:first-child+html ul#navigation3 {
   margin:-5px 0 0 70px;
}

#navigation3 li a.homebutton{
   height:0px; 
   padding-top:31px;
   width:85px;
   overflow:hidden;
   background:url(../Images/but_home.gif) no-repeat;
}

#navigation3 li a.homebutton:hover{
   height:0px; 
   padding-top:31px;
   width:85px;
   overflow:hidden;
   background:url(../Images/but_home2.gif) no-repeat;
}

#welcome {
    float:right; 
    font-size:12px; 
    font-weight:bold; 
    margin:5px 50px 0 0;
    width: 250px;
    text-align: right;
}

.ie #welcome {
    margin-top: -24px;
}



.calendarStyle 
{
	border-left: solid 1px #afb7be;
	border-bottom: solid 1px #afb7be;  
}

.calPopup
{
	padding-top:10px;
	padding-left:45px;
	background: url(../Images/cal_popup.png) no-repeat;
	line-height:26px;
}


.calPopupGreen
{
	padding-top:10px;
	padding-left:30px;
	background: url(../Images/cal_popupgreen.png) no-repeat;
	line-height:26px;
	width: 400px;
	height:319px; 
	font-size:14px; 
	margin: -10px 0 0 -105px
}
.ie .calPopupGreen
{
	padding-top: 0px;
	margin-top: -10px;
}

.xout 
{
	position:relative;
	top:3px;
	left:310px;
}

.xout2 
{
	position:relative;
	top:-7px;
	left:333px;
}

.blackgradHead 
{
	background:url(../Images/gridviewtitlebg.gif) repeat-x;
}

.paddingLeft
{
	padding-left:20px;
}

#ctl00_ContentPlaceHolder1_gvUsers td, #ctl00_ContentPlaceHolder1_TimeSheetReviewList1_gvEntries td, #ctl00_ContentPlaceHolder1_gvTimeSheets td, #ctl00_ContentPlaceHolder1_gvCurrentExpenses td, #ctl00_ContentPlaceHolder1_gvExpenseSheets td
{
	border-bottom: solid 1px #bbcfe3;	
}

.centerit 
{
	margin:0 auto;
}

#footergradient 
{/*
	background: url(../Images/bottomgradient.jpg) repeat-x; margin: 0px 50px;
	min-width:980px;
	position:relative;
	z-index:0;*/
}

/* IE7 Only 
*:first-child+html #footergradient {
   margin-top: 150px;
}*/

/*Textbox Watermark*/

.unwatermarked {
	font-weight:bold;
}

.watermarked {
	border:1px solid #BEBEBE;
	background-color:#F0F8FF;
	color:gray;
}

/* edit entry styles */

.updateEntry {
    float: right;
    margin-right: 70px
}
.ie updateEntry {display: none;}

.addEntry {
    float: right;
    margin-right: 50px
}

#ulAdjustments {
    width: 606px; float: right; list-style-position: inside; font-size: 0.9em;
}


.ie #ulAdjustments {
    width: 600px; float: left; font-size: 0.9em;
    margin: 29px 0px 0px 113px;
}

#errorMsg {width: 847px; margin: 0 auto;}
#errorMsg img {float: left; margin: 0 1em}


.ie img[alt*="Delete"] {border: none 0px; margin-left: 3px;}
.ie tr[id*="Entry"] {font-size: 12px;}

/*---------------------- Messages -------------------------
----------------------------------------------------------*/

.jquery-message {
    font: normal 20px / 50px Helvetica, Arial, Sans-Serif;
    letter-spacing: -1px;
    position: absolute;
    /* top: 250px; */
	bottom: 50px;
    left: 25%;
    width: 50%;
    color: white;
    background-color: black;
    text-align: center;
    display: none;
    opacity: 0;
    z-index: 100000;
}

.jquery-message .round {
    border-left: solid 2px white;
    border-right: solid 2px white;
    font-size: 1px;
    height: 2px;
}

.jquery-message p {
    padding: .3em;
    display: inline;
}

.jquery-message a {
    display: none;
}

/*---------------------- MISC ----------------------------
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}
