/* ----------------- */
/* ==basic styles    */
/* ----------------- */

body {
	background: url(../Images/topbgfiller.gif) repeat-x #e2e1d6;
    font-family: Trebuchet MS, Helvetica, Arial, Tahoma;
	margin: 0 auto;
	padding: 0;
	min-width: 960px; width: 1000px;
	}
	
#skipnav {display: none;}
#header x {margin: 0 0 0 -25px;}
#header {height: 106px;}
#main {min-width: 840px; padding-bottom: 75px; margin: 0 60px;}
#page_content {margin-left: -25px;}

#footer 
{
    background: url(../Images/bottomgradient.jpg) repeat-x;
	min-width: 980px;
	text-align: center;
	height: 170px;
	margin: 250px auto 0px;
	font-size: 12px;
	clear: both;
}

.homebutton>img{
    padding-top: 10px;
}

a:link {color:#1a4b5e;}
a:visited {color:#1a4b5e;}
a:hover {text-decoration:none;}
a {outline: none;}

.centerit {margin:0 auto;}
.clear {clear: both;}
.error {color:Red;}

img {border: 0px none;}

td {vertical-align: top;}

h1, h2, h3 {margin-bottom: 0px;}

.backnav {margin: 2em 0; font-size: .9em; font-style: italic; background: url(../Images/back.png) no-repeat 0 2px; padding-left: 19px;}



/* ----------------- */
/* ==navigation      */
/* ----------------- */

/* is this stuff necessary? -----

#sheetsButtons a {display: block; border: solid 1px #b1b0a9; background-color:#edede6; width: 290px; height: 60px; padding:30px; text-decoration:none;}
#sheetsButtons a:hover {background-color:#d9e7ea;}
ul#navigation {list-style:none; list-style-image: none; padding:0; margin:4px 0 0 30px; width:800px; margin:0 auto;}
ul#navigation2 {list-style:none; list-style-image: none; padding:0; margin:4px 0 0 30px; width:1000px; margin:0 auto;}
#navigation li, #navigation2 li, #navigation3 li {float:left; margin-bottom:0; margin-right:3px; padding:0; text-align:center; font-size:14px; font-weight:bold;}
#navigation li a, #navigation2 li a, #navigation3 li a{display:block; text-decoration:none;}
#navigation2 li a.GenericTab{height:25px; width:178px; overflow:hidden; padding-top:20px; margin-left:10px;}
#navigation2 li a.GenericTab2{height:25px; width:148px; overflow:hidden; padding-top:15px; margin-left:10px; background:url(../Images/but_genericb2.gif) no-repeat; position:relative; top:1px;}
#navigation2 li a.GenericTab3{height:25px; width:148px; overflow:hidden; padding-top:15px; margin-left:10px; background:url(../Images/but_genericb1.gif) no-repeat;}
#navigation2 li a.GenericTab3:hover, #navigation2 li a.GenericTab2:hover{color:#751111;}
#navigation li a.ExpenseSheetLink{height:0px; padding-top:45px; width:192px; overflow:hidden; background:url(../Images/but_expenselist.gif) no-repeat;}
#navigation li a.SheetListLink{height:0px; padding-top:45px; width:192px; overflow:hidden; background:url(../Images/but_sheetlist.gif) no-repeat;}
#navigation li a.TimeSheetLink{height:0px; padding-top:45px; width:192px; overflow:hidden; background:url(../Images/but_timesheet.gif) no-repeat;}
#navigation li a.TimeSheetListLink{height:0px; padding-top:45px; width:192px; overflow:hidden; background:url(../Images/but_timesheetlist.gif) no-repeat;}
#navigation li a.ExpenseSheetLink:hover{height:0px; padding-top:45px; width:192px; overflow:hidden; background:url(../Images/but_expenselist3.gif) no-repeat;}
#navigation li a.SheetListLink:hover{height:0px; padding-top:45px; width:192px; overflow:hidden; background:url(../Images/but_sheetlist3.gif) no-repeat;}
#navigation li a.TimeSheetLink:hover{height:0px; padding-top:45px; width:192px; overflow:hidden; background:url(../Images/but_timesheet3.gif) no-repeat;}
#navigation li a.TimeSheetListLink:hover{height:0px; padding-top:45px; width:192px; overflow:hidden; background:url(../Images/but_timesheetlist3.gif) no-repeat;}
#navigation li a.ExpenseSheetLink2{height:0px; padding-top:45px; width:192px; overflow:hidden; background:url(../Images/but_expenselist2.gif) no-repeat; position:relative; z-index:7; top:1px;}
#navigation li a.SheetListLink2{height:0px; padding-top:45px; width:192px; overflow:hidden; background:url(../Images/but_sheetlist2.gif) no-repeat; position:relative; z-index:7; top:1px;}
#navigation li a.TimeSheetLink2{height:0px; padding-top:45px; width:192px; overflow:hidden; background:url(../Images/but_timesheet2.gif) no-repeat; position:relative; z-index:7; top:1px;}
#navigation li a.TimeSheetListLink2{height:0px; padding-top:45px; width:192px; overflow:hidden; background:url(../Images/but_timesheetlist2.gif) no-repeat; position:relative; z-index:7; top:1px;}
*/

/* ----------------- */
/* ==menu            */
/* ----------------- */

/* ----- the ones on default.aspx ----- */

.menu-section {width: 230px; height: 210px; background: rgb(255,255,255); background: rgba(255,255,255,0.4);
	float: left; margin: 1em 1.5em 2em; padding: .5em .5em 2em;
	-moz-box-shadow: 5px 5px 0px #ccc; text-align: center;
	}
.ie .menu-section {border-right: 5px solid #ccc; border-bottom: 5px solid #ccc;}
.menu-section:hover {background: rgba(255,255,255,0.8);}

.menu-section h3, .day-header span 
{
    font-size: .9em; font-weight: bold; 
    text-transform: uppercase; letter-spacing: 2px; 
    font-family: Rockwell, Rockwell Extra Bold, Arial Bold, Terminal, fixed;
}
.menu-section img {padding: .5em 0;}
.menu-section ul {padding: 0px; margin: 0px;}
.menu-section li {list-style: none; margin: 0 0 .2em 0;}


/* ----- dropdown ----- */

ul#navigation3 {
   list-style:none;
   list-style-image: none;
   padding:0;
   width:800px;
   margin:-5px 0 0 50px;
}

/* IE7 Only */
*:first-child+html ul#navigation3 {
   margin:-5px 0 0 70px;
}

#menu {margin: -5px 0 0 25px; min-width: 960px;}
#menu li {margin: 0; padding: 0; float: left; display: block; width: 14em; 
          font-size: .7em; text-align: center; height: 31px; border-right: 1px solid #b9b9af;}
#menu li.home {width: 5.5em;}
#menu li a {width: 13em; height: 22px; padding: 9px 5px 0;  display: block;
          background: url(../Images/menu-bg.gif) left top; border-left: 1px solid #b9b9af; border-right: 1px solid #ebebe8;}
          .home #menu li.home a, 
          .time #menu li.time a, 
          .cost #menu li.cost a, 
          .super #menu li.super a, 
          .admin #menu li.admin a, 
          .reports #menu li.reports a, 
          #menu li a:hover {background-position: left bottom;}
#menu li.home a {width: 4.5em;}
#menu li a {text-decoration: none;}

#menu li ul {position: absolute; left: -9999px; margin: 0px 0 0 -3.5em;}
#menu li li {clear: left; font-size: 1em; margin-left: -1px;}
#menu li:hover ul {left: auto; z-index: 3;}


/* ----- lookups top nav ----- */

#lookups-menu {margin: 0px 0 2em; padding: 0px;}
#lookups-menu li {display: inline; font-size: .9em; font-weight: bold; margin: 0 1em;
	-moz-border-radius: 8px; -webkit-border-radius: 8px; padding:  2px 8px;
	background: #e9e9e0;}
    #lookups-menu li:first-child {margin-left: 0px;}
#lookups-menu li:hover {background: #f3f3ef;}
#lookups-menu li a {text-decoration: none;}




/* ----------------- */
/* ==calendar        */
/* ----------------- */

.calendarDiv, .day-header {width: 960px;}
.calendarStyle /* styles each date box */
{
    font-size: .8em;
	width: 115px; min-height: 120px; float: left; overflow: hidden;
	margin: 3px; padding: 4px 8px 6px;
	-moz-border-radius: 18px; -webkit-border-radius: 18px;
	background: #f3f3ef;
}
.day-header span {font-size: .8em; width: 115px; padding: 4px 8px 6px; margin: 3px; -moz-border-radius: 8px; -webkit-border-radius: 8px; display: block; float: left; text-align: center;}

.ie6 .calendarStyle {height: 140px; width: 110px;}
.ie6 .day-header span {width: 110px;}

.calendarStyle.ActiveDay:hover {-webkit-transition: background 0.5s; background: #f9f9f7;}
.calendarStyle.InactiveDay {background: #e9e9e0;}

.calendarStyle .AddCalendarEntry {float: left; padding: 2px 0 0 4px;}
.calendarStyle .editEntry {}

.calendarDate {text-align: right; background: #fff;
	-moz-border-radius: 18px; -webkit-border-radius: 18px;
	padding: 1px 5px; font-size: .9em;}
.InactiveDay .calendarDate {background: #eeede6;}

.calPopup
{
	padding-top:10px;
	padding-left:45px;
	background: url(../Images/cal_popup.png) no-repeat;
	line-height:26px;
}

.calPopupGreen
{
	padding-top:10px;
	padding-left:30px;
	background: url(../Images/cal_popupgreen.png) no-repeat;
	line-height:26px;
	width: 400px;
	height:319px; 
	font-size:14px; 
	margin: -10px 0 0 -105px
}
.ie .calPopupGreen
{
	padding-top: 0px;
	margin-top: -10px;
}

.xout 
{
	position:relative;
	top:3px;
	left:310px;
}

.xout2 
{
	position:relative;
	top:-7px;
	left:333px;
}

.calendarDiv .InactiveDay, .calendarDiv .ActiveDay {}

.TimeRecordOptionsBox 
{
    width: 330px; font-size: .9em;
	margin: 1em 0px 1em 590px; padding: 14px 18px 16px;
	-moz-border-radius: 18px; -webkit-border-radius: 18px;
	background: #f3f3ef;
}
.TimeRecordOptionsBox h3 {font-size: .7em; text-transform: uppercase; letter-spacing: 1px; display: inline; font-weight: bold; color: #747474;}
.TimeRecordOptionsBox ul {padding: 0 0 0 1em; font-size: .8em;}
.TimeRecordOptionsBox ul li {padding: 0 0 .5em;}

#dialogTimeRecordAdjustment {width: 500px; padding: 14px 18px 16px; float: right;}

#SubmitRecord {margin: 1em 0 1em 590px;}



/* ---------------- */
/* ==forms          */
/* ---------------- */

label, legend {
    font-size: .7em; font-weight: bold; color: #333; text-transform: uppercase; letter-spacing: 1px;}
legend {font-family: Rockwell, Rockwell Extra Bold, Arial Bold, Terminal, fixed; font-size: 1.1em; border-bottom: 2px solid #000; display: block;}
label {width: 175px; display: inline-block; vertical-align: top;}
fieldset {border: 0px none; margin: 1em 0 2em; background: #e9e9e0;
	-moz-border-radius: 18px; -webkit-border-radius: 18px;}

form#ApproveOrDeny p {margin: 0px; font-size: 0.8em; font-style: italic; color: #555;}
form#ApproveOrDeny p:hover {color: #000;}

.left {float: left; width: 47%; margin-right: 1em;}
.right {float: right; width: 47%;}

/* I don't know what's diff about these select boxes, but this fixes the offset */
select#Adjust_Account, select#Adjust_ActivityType, select#ActivityType, select#Account {position: relative; left: -5px;}

#ApproveOrDeny {margin: 2em 0;}

#RoleList {margin: 0px; padding: 0px;}
#RoleList li {list-style: none;}
#RoleList label {width: auto; display: inline-block;}
#RoleList input {display: inline-block; width: 20px;}




/* ----------------- */
/* ==popups          */
/* ----------------- */

.ui-dialog, #ui-datepicker-div {width: 600px; -moz-border-radius: 18px; -webkit-border-radius: 18px; padding: 2em 1.5em 1em; font-size: .8em; background: #333; background: rgba(33, 33, 33, 0.8);}
.ui-dialog-titlebar-close {float: right;}
.ui-dialog-titlebar-close span {color: White;}
.ui-dialog fieldset {padding: 3em 1em;}
.ui-dialog legend {padding: 1em 0 0; margin: 0 0 -2em;}
.ie .ui-dialog legend {margin: 0px;}
.ui-dialog-title {font-size: 1.2em; color: #fff; text-transform: uppercase; font-weight: bold; letter-spacing: 2px; padding: 2em 0 0;}
.ui-dialog label {width: 25%;}  
.ui-dialog input[type=submit] {float: right;}

#ui-datepicker-div {width: auto !important; left: auto !important; margin: 0 auto;}
.ui-datepicker-group {font-size: .9em; height: 16em; width: 16em;
	margin: 1em; padding: 14px 18px 16px; float: left;
	-moz-border-radius: 18px; -webkit-border-radius: 18px;
	background: #f3f3ef;}
table.ui-datepicker-calendar {width: 100%;}
table.ui-datepicker-calendar td {text-align: center;}
.ui-datepicker-prev, .ui-datepicker-next {font-weight: bold; cursor: pointer; float: right;}
.ui-datepicker-prev {float: left;}
.ui-datepicker-title {text-align: center; font-weight: bold;}
.ui-datepicker-header {background: #fff; -moz-border-radius: 18px; -webkit-border-radius: 18px;	padding: 1px 5px;}
.ui-datepicker-year {}

#dialogTimeRecordAdjustment .savebtn {margin-left: 175px;}



/* ----------------- */
/* ==misc?           */
/* ----------------- */

#welcome {
    float: right; 
    font-size: 12px; 
    font-weight: bold; 
    margin: 10px 106px 0 0;
    width: 450px;
    text-align: right;
}

.ie6 #welcome {float: none; margin: 10px 106px 30px 400px;}

.blackgradHead 
{
	background:url(../Images/gridviewtitlebg.gif) repeat-x;
}

.paddingLeft
{
	padding-left:20px;
}

#ctl00_ContentPlaceHolder1_gvUsers td, #ctl00_ContentPlaceHolder1_TimeSheetReviewList1_gvEntries td, #ctl00_ContentPlaceHolder1_gvTimeSheets td, #ctl00_ContentPlaceHolder1_gvCurrentExpenses td, #ctl00_ContentPlaceHolder1_gvExpenseSheets td
{
	border-bottom: solid 1px #bbcfe3;	
}

#footergradient 
{/*
	background: url(../Images/bottomgradient.jpg) repeat-x; margin: 0px 50px;
	min-width:980px;
	position:relative;
	z-index:0;*/
}

/* IE7 Only 
*:first-child+html #footergradient {
   margin-top: 150px;
}*/

/*Textbox Watermark*/

.unwatermarked {
	font-weight:bold;
}

.watermarked {
	border:1px solid #BEBEBE;
	background-color:#F0F8FF;
	color:gray;
}

/* edit entry styles */

.updateEntry {
    float: right;
    margin-right: 70px
}
.ie updateEntry {display: none;}

.addEntry {
    float: right;
    margin-right: 50px
}

#ulAdjustments {
    width: 606px; float: right; list-style-position: inside; font-size: 0.9em;
}


.ie #ulAdjustments {
    width: 600px; float: left; font-size: 0.9em;
    margin: 29px 0px 0px 113px;
}

#errorMsg {width: 847px; margin: 0 auto;}
#errorMsg img {float: left; margin: 0 1em}


.ie img[alt*="Delete"] {border: none 0px; margin-left: 3px;}
.ie tr[id*="Entry"] {font-size: 12px;}

/*---------------------- Messages -------------------------
----------------------------------------------------------*/

.jquery-message {
    font: normal 20px / 50px Helvetica, Arial, Sans-Serif;
    letter-spacing: -1px;
    position: absolute;
    /* top: 250px; */
	bottom: 50px;
    left: 25%;
    width: 50%;
    color: white;
    background-color: black;
    text-align: center;
    display: none;
    opacity: 0;
    z-index: 100000;
}

.jquery-message .round {
    border-left: solid 2px white;
    border-right: solid 2px white;
    font-size: 1px;
    height: 2px;
}

.jquery-message p {
    padding: .3em;
    display: inline;
}

.jquery-message a {
    display: none;
}

/*---------------------- MISC ----------------------------
----------------------------------------------------------*/

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

/* -- Cost Share Audits -- */
.excluded
{
    text-decoration: line-through;
    filter:alpha(opacity=50);
    opacity: .5;
}




